<div class="row">

    <div class="span10">
        <h1>{{results.survey.sTitle}}</h1>
        <h2>Results for {{results.survey.sCompanyName}}</h2>
        <div class='languageOption'><button class="btn" ng-click="DownloadPDF()">Download PDF</button></div>
    </div>

</div>

<div class="row">
    <div class="span10 AdminSurveyResults">

        <div class="row">
            <div class="span10">
                <span class="ResultsUserStats">Users who are eligible: {{results.usersAvailable.List.length}}</span>
                <span class="ResultsUserStats">Users who have begun survey: {{results.usersAttempted.length}}</span>
                <span class="ResultsUserStats">Users who have completed survey: {{results.usersCompleted.length}}</span>
            </div>
        </div>

        <div class="row well well-small" style="page-break-after: always;" ng-repeat="question in results.survey.qcQuestions">
            <div class="row">
                <div class="span10 ResultsQuestionText">{{question.sText}}</div>
            </div>
        <div class="row ">
            <div class="span10 text-center white">
                <div ng-show="question.sQuestionType!='Textbox'">
                    <table class="table table-striped" style="max-width: 80%;margin-left:auto;margin-right:auto;">

                        <thead>
                            <tr>
                                <th>Answer</th>
                                <th>Responses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="answer in question.aAnswers">
                                <td style="width:75%">{{answer.sAnswerText}}</td>
                                <td>{{answer.iUsersAnswered}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="question.sQuestionType=='Textbox'">
                    Text
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span10 white text-center" ng-show="question.sQuestionType!='Textbox'">
                <img style="max-width: 100%;" ng-src="http://ha.healthylife.com/img/statGraphs/{{question.idQuestionID}}.png"/>

                <!--<div style="width: 95%" ng-show="question.sQuestionType!='Textbox'" ng-model="question.resultsStats"-->
                     <!--qn:columns="[{type:'string', name: 'Answer'},{type:'number', name: 'Responses'}]"-->
                     <!--qn:piechart="{-->
                <!--legend : {alignment: 'center'},-->
                <!--chartArea: {height: 400},-->
                <!--backgroundColor: '#FFF'}"></div>-->
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>





