<h1>{{survey.sTitle}}</h1>

        <div class="row-fluid">
            <div class="span4 offset4 well text-center FinishedBanner" ng-show="SurveyFinished==true">
                <h3>Completed!</h3>
                <a href="./#/ViewResults/{{survey.idSurveyID}}">View Results</a>
            </div>
        </div>

<div class="clearfix"></div>

        <div class="row-fluid">
            <div class="span12">
                <h2>Take Survey</h2>
            </div>
        </div>

        <div class="row-fluid">

            <div class="span4 offset1">
                <p>{{survey.sPreamble}}</p>
                <button class="btn" ng-click="StartSurvey()">Take Survey in English</button>
            </div>
            <div class="span4">
                <p>{{survey.sPreambleSpanish}}</p>
                <button class="btn" ng-click="StartSurvey('SPANISH')">Tomar la Encuesta en Español</button>
            </div>

            <div class="clearfix"></div>
        </div>




