<div class="row">
    <div class="span10">
        <h1>{{survey.sTitle}}</h1>
    </div>
</div>

<div class="row" ng-show="SurveyFinished==true">
    <div class="span10 FinishedBanner">
        <h2>Survey Complete!</h2>
        <h3><a href="./#/SurveyLanding/{{survey.idSurveyID}}">Click here to go back to survey home and view results</a></h3>
    </div>
</div>
<div class="row">
    <div class="span3 Sidebar">
        <ol>
            <li ng-repeat="question in SidebarQuestionList" class="SidebarQuestions" ng-click="GoToQuestion(question)">
                {{question.sText}}
            </li>
        </ol>
    </div>
    <div class="span7 Content">
        <div class="row">
            <div class="span7 QuestionPreamble" ng-hide="PreambleDismissed==true">
                <p ng-bind="ActiveQuestion.sPreamble">test</p>
                <button class="btn btn-small" ng-hide="PreambleDismissed==true" ng-click="DismissPreamble()">Continue</button>
            </div>
        </div>

        <div class="row">
            <div class="span7 QuestionTest" ng-show="PreambleDismissed==true">
                <p ng-bind="ActiveQuestion.sText"></p>
            </div>
        </div>

        <div class="row">
            <div class="span7 QuestionForm" ng-show="PreambleDismissed">
                <form name="frmActiveQuestionForm" ng-submit="SaveAnswer()" class="form-horizontal">
                    <div ng-switch on="ActiveQuestion.sQuestionType">
                        <div ng-switch-when="Textbox">
                            <textarea ng-model="$parent.ActiveQuestion.sUsersAnswerText"></textarea>
                        </div>
                        <div ng-switch-when="option">
                            <label class="radio" ng-repeat="answer in ActiveQuestion.aAnswers">
                                <input type="radio" name="questionOptions" ng-model="$parent.ActiveQuestion.idUsersAnswer" ng-value="answer.idAnswerID" />
                                {{answer.sAnswerText}}
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button><br>
                    <span class="text-error" ng-bind="ErrorMessage"></span>
                </form>
            </div>
        </div>
    </div>

</div>
