<h1>Surveys</h1>

<div class="row-fluid">
    <div class="span12">

        <table id="tblSurveyTable" class="table table-striped table-hover">
            <thead>
            <tr>

                <th>Survey</th>


            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="survey in surveys" ng-click="TakeSurvey(survey.idSurveyID)" name='SurveyRow_{{survey.idSurveyID}}'>

                <td>{{survey.sTitle}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

