<div class="row">
    <div class="span10">
        <h1>{{survey.sTitle}}</h1>
        <h2>Results for {{LoggedInUser.sFullName}}</h2>
        <div class='languageOption' ng-click="ChangeLanguage('ENGLISH')">In English</div><div class='languageOption' ng-click="ChangeLanguage('SPANISH')">En Espagnol</div>
    </div>
</div>
<div class="row">
    <div class="span10 UserSurveyResults" ng-show="SurveyFinished==true">
        <ol>
            <li ng-repeat="question in survey.qcQuestions" class="well">
                <strong>{{question.sText}}</strong>
                <p>
                    You answered: <em>{{question.sUsersAnswerText}}</em>
                </p>
                <div class="RiskFactor" ng-show="question.sUserRiskFactor.length">
                    <div><span class="icon-comment"></span> About that:</div>
                    <p ng-bind-html-unsafe="question.sUserRiskFactor">

                    </p>
                </div>
            </li>
        </ol>
    </div>
</div>

<div class="clearfix"></div>





