<!DOCTYPE html>
<html lang="en" ng-app="healthsurvey">
<head>
    <title>Health Survey</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/Style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script>
        if(!window.console){
            console = {log: function(){}};
        }
        if (!Object.keys) {
            Object.keys = (function () {
                var hasOwnProperty = Object.prototype.hasOwnProperty,
                        hasDontEnumBug = !({toString: null}).propertyIsEnumerable('toString'),
                        dontEnums = [
                            'toString',
                            'toLocaleString',
                            'valueOf',
                            'hasOwnProperty',
                            'isPrototypeOf',
                            'propertyIsEnumerable',
                            'constructor'
                        ],
                        dontEnumsLength = dontEnums.length;

                return function (obj) {
                    if (typeof obj !== 'object' && typeof obj !== 'function' || obj === null) throw new TypeError('Object.keys called on non-object');

                    var result = [];

                    for (var prop in obj) {
                        if (hasOwnProperty.call(obj, prop)) result.push(prop);
                    }

                    if (hasDontEnumBug) {
                        for (var i=0; i < dontEnumsLength; i++) {
                            if (hasOwnProperty.call(obj, dontEnums[i])) result.push(dontEnums[i]);
                        }
                    }
                    return result;
                }
            })()
        };
    </script>
    <script src="js/angular.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script type="text/javascript" src="js/sanitize.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/app.js?v=0.0.6"></script>
    <script src="js/controllers.js?v=0.0.6"></script>
    <script src="js/TakeSurvey.js?v=0.0.8"></script>
    <script src="js/bootstrap.js"></script>


</head>
<body ng-cloak class="ng-cloak">



<div class="container">

    <div class="navbar">
        <div class="navbar-inner">

            <ul class="nav">
                <li><a href="./#/home">Home</a></li>
                <li class="divider-vertical"></li>
            </ul>
            <a class="brand" href="#" ng-show="LoggedInUser.sCompanyName">{{LoggedInUser.sCompanyName}}</a>
            <a class="brand" href="#" ng-hide="LoggedInUser.sCompanyName">Health Assessment Survey</a>
            <ul class="nav">
                <li class="divider-vertical"></li>
                <li class="nav-textOnly" ng-show="LoggedInUser.sFullName">Welcome {{LoggedInUser.sFullName}}</li>
            </ul>
        </div>
    </div>

        <div class="row">
            <div class="span2 Sidebar" ng-show="LoggedInUser">
                <img ng-src="{{LoggedInUser.urlCompanyLogo}}" style="max-width: 80%; padding-top: 10px; max-height:300px;"/>
                <ul class="nav nav-list" ng-show="LoggedInUser.iRole < 3">
                    <li class="nav-header">Menu</li>
                    <li><a href="./#/home">Home</a></li>
                    <li ng-click="logout()">Logout</li>
                    <li class="nav-header" ng-show="LoggedInUser.iRole <= 1">Admin</li>
                    <li class="#"><a href="./#/admin-surveys">Surveys</a></li>
                    <li><a href="./#/admin-companies" ng-show="LoggedInUser.iRole <= 1">Companies</a></li>
                    <li><a href="./#/admin-users">Users</a></li>
                    <li><a href="./#/enrollment-file" ng-show="LoggedInUser.iRole <= 1">Enrollment File</a></li>
                </ul>
                <ul class="nav nav-list" ng-show="LoggedInUser.iRole==3">
                    <li class="nav-header">Menu</li>
                    <li><a href="./#/home">Home</a></li>
                    <li ng-click="logout()">Logout</li>
                    <li class="#"><a href="./#/user-surveys">Surveys</a></li>
                </ul>

                <div class="alert">
                    <span ng-bind="ErrorMessage"></span>
                </div>

            </div>
            <div class="span10 Content">
                <div class="row">
                    <div class="span10" id="loading"><span class="text-info">Loading...</span></div>
                </div>
                <div ng-view class="row"></div>
            </div>
        </div>

        <div class="row">
            <div class="span12 footer">
                Copyright 2013 All Rights Reserved<br>
                <img src="http://healthylife.com/images/logo.gif" style="text-align: center;max-width: 100px;"/><br>
                <strong>American Institute for Preventive Medicine</strong>
            </div>

        </div>

    </div>
    <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
    <script type="text/javascript">
        if(typeof(google)!=='undefined'){
            google.load('visualization', '1.0', { 'packages': ['corechart'] });
        }

    </script>
</body>
</html>

